button.delete-button {
	background: red;
	padding: 0.5em;
	border: transparent;
	border-radius: 0.5em;

}

body {
	background: black;
	color: white;

}

a {
	text-decoration: none;
	color: white;
}

button.back-button img {
	height: 1em;
}

button {
	height: 2em;
}